@charset "utf-8";
#main_inner{
    width: 1320px;
    margin: 0 auto;
}
#main{
    background-color: #ffffff;
}
a{
    text-decoration: none;
    color:inherit;
}
.top a{
    display: inline-block;
    background-color: #777;
    color: #fff;
    width: 45px;
    text-align: center;
    line-height: 45px;/*height로 잡으면 아래쪽만 길어지므로 라인 한줄짜리는
    라인 하이트로 높이를 잡아준다*/
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.top{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 10;
}